body {
  background-color: #404040;
}

#head h1 {
  position: relative;
  left: 90px;
  bottom: 80px;
  font-family: sans-serif;
  font-size: 22px;
}
#head h3 {
  position: relative;
  left: 90px;
  bottom: 87px;
  font-family: sans-serif;
  color: #5cb85c;
}

#head img {
  position: relative;
  height: 90px;
  top: 10px;
  width: 100px;
}
P {
  position: relative;
  left: 958px;
  bottom: 250px;
  color: red;
  font-size: 18px;
  font-family: sans-serif;
}

p:hover {
  color: black;
  font-size: 17px;
}
hr {
  height: 3px;
  background-color: rgb(129, 128, 128);
  position: relative;
  bottom: 280px;
}
#container {
  position: relative;
  top: 7px;
  background-color: #ffffff;
  width: 1470px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border: 5px solid #404040;
  border-top: 6px solid rgba(67, 177, 75);
}

#line ul a {
  margin: 27px;
  font-size: 18px;
  text-decoration: none;
  /* border: 5px solid green; */
  width: 60px;
  position: relative;
  bottom: 280px;
  right: 20px;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 19px;
}
#line ul a:hover {
  background-color: #5cb85c;
  text-decoration: none;
  width: 150px;
  height: 20px;
  border: 8px solid #5cb85c;
  border-width: 20px;
  border-radius: 7px;
  color: white;
}
#pass {
  border: 3px solid black;
  position: relative;
  bottom: 183px;
  left: 840px;
  height: 90px;
  width: 80px;
  border-radius: 50%;
  background: url(./photo.me.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pass:hover {
  width: 100px;
  height: 100px;
}

#set {
  margin-left: 40px;
  position: relative;
  left: 1260px;
  bottom: 300px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
}

#set,
#low {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.role {
  border: 3px solid #5cb85c;
  background-color: #5cb85c;
  height: 60px;
  position: relative;
  left: 500px;
  width: 930px;
  bottom: 269px;
}
.active {
  color: white;
  position: relative;
  left: 1290px;
  bottom: 323px;
  border: 3px solid black;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: black;
  font-size: 25px;
  font-family: sans-serif;
}

.second {
  color: #000;
  font-size: 27px;
  position: relative;
  bottom: 200px;
  left: 70px;
}
.line {
  border: 1px solid #5cb85c;
  background-color: #5cb85c;
  height: 4px;
  border-radius: 20px;
  position: relative;
  left: 70px;
  bottom: 190px;
  width: 90px;
}

.sem1 {
  border: 4px solid #d7d2d2;
  background-color: #d7d2d2;
  height: 100px;
  width: 250px;
  position: relative;
  left: 70px;
  bottom: 140px;
}

.sem2 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  position: relative;
  left: 80px;
  bottom: 222px;
  border: 3px solid #5cb85c;
  height: 57px;
  width: 235px;
  background-color: #5cb85c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sem3 {
  border: 4px solid #d7d2d2;
  background-color: #d7d2d2;
  height: 100px;
  width: 250px;
  position: relative;
  left: 70px;
  bottom: 140px;
}

.sem4 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  position: relative;
  left: 83px;
  bottom: 222px;
  border: 3px solid #5cb85c;
  height: 57px;
  width: 230px;
  background-color: #5cb85c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cos1 {
  color: black;
  position: relative;
  left: 359px;
  bottom: 570px;
  font-size: 30px;
}

.cos2 {
  border: 5px solid #d7d2d2;
  height: 330px;
  width: 1000px;
  position: relative;
  left: 360px;
  bottom: 558px;
}
.cos3 {
  color: black;
  border: 3px solid #5cb85c;
  background-color: #5cb85c;
  height: 60px;
  width: 1000px;
  position: relative;
  left: 360px;
  bottom: 898px;
}
.cos4 {
  color: white;
  font-size: 30px;
  position: relative;
  left: 380px;
  bottom: 945px;
}

.cos5 {
  color: white;
  font-size: 30px;
  position: relative;
  left: 620px;
  bottom: 977px;
}

.cos6 {
  color: #fff;
  font-size: 30px;
  position: relative;
  left: 820px;
  bottom: 1009px;
}

.view {
  color: rgb(74, 72, 72);
  position: relative;
  bottom: 930px;
  font-size: 65px;
  left: 410px;
  border: 3px solid #d7d2d2;
  height: 140px;
  width: 898px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  position: relative;
  bottom: 640px;
  border: 3px solid #5cb85c;
  height: 70px;
  background-color: #5cb85c;
  width: 1465px;
}

.box1 {
  color: white;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 25px;
}

.box2 {
  color: white;
  position: relative;
  left: 1170px;
  bottom: 10px;
  font-size: 25px;
}

#clean {
  border: 3px solid #404040;
  height: 200px;
  width: 200px;
}

marquee {
  color: black;
  position: relative;
  bottom: 750px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  border: 4px solid darkgray;
  background-color: darkgray;
  height: 40px;
  width: 800px;
  left: 350px;
  border-radius: 20px;
}

.sem2 a {
  color: white;
  text-decoration: none;
}

.sem4 a {
  color: white;
  text-decoration: none;
}
